 body {
      font-family: Arial, sans-serif;
      background: #f6f6f6;
      margin: 0;
      padding: 0;
    }

    header {
      background: #c0392b;
      color: white;
      padding: 20px 0;
      text-align: center
    }

    .container {
      max-width: 900px;
      margin: 40px auto;
      padding: 0 20px;
    }

    .post {
      background: white;
      padding: 20px;
      margin-bottom: 25px;
      border-radius: 10px;
      box-shadow: 0 4px 10px rgba(0,0,0,0.06);
    }

    .post h2 {
      margin-top: 0;
      color: #333;
    }

    .post .meta {
      font-size: 0.9em;
      color: #999;
      margin-bottom: 10px;
    }

    .post p {
      line-height: 1.6;
      color: #444;
    }

    .read-more {
      display: inline-block;
      margin-top: 10px;
      color: #c0392b;
      text-decoration: none;
      font-weight: bold;
    }

    .read-more:hover {
      text-decoration: underline;
    }

    .logout-btn {
    position: absolute;
    top: 20px;  
    right: 20px; 
    padding: 10px 20px;

    background-color: #ff4747;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s;
}

.logout-btn:hover {
    background-color: #d43535;
}

button[type="submit"] {
    margin-top: 25px;
    background-color: #c0392b;
    border: none;
    color: white;
    padding: 15px 25px;
    font-size: 18px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button[type="submit"]:hover {
    background-color: #992323;
}

.create-btn-container {
    text-align: center;
}

.create-btn {
    margin-top: 25px;
    color: #c0392b;
    text-decoration: none;
    font-weight: bold;

}

.create-btn:hover {
    text-decoration: underline;
}
